-@val s: skinny.Skinny
-@val items: Seq[model.Employee]
-@val totalPages: Int

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

h3 #{s.i18n.get("employee.list")}
hr
-for (notice <- s.flash.notice)
  p(class="alert alert-info") #{notice}

- if (totalPages > 1)
  ul.pagination
    li
      a(href={s.url(Controllers.employees.indexUrl, "page" -> 1)}) &laquo;
    - for (i <- (1 to totalPages))
      li
        a(href={s.url(Controllers.employees.indexUrl, "page" -> i)}) #{i}
    li
      a(href={s.url(Controllers.employees.indexUrl, "page" -> totalPages)}) &raquo;

table(class="table table-bordered")
  thead
    tr
      th #{s.i18n.get("employee.id")}
      th #{s.i18n.get("employee.firstName")}
      th #{s.i18n.get("employee.middleName")}
      th #{s.i18n.get("employee.lastName")}
      th #{s.i18n.get("employee.gender")}
      th #{s.i18n.get("employee.startedEmployment")}
      th #{s.i18n.get("employee.leftEmployment")}
      th #{s.i18n.get("employee.otherDetail")}
      th
  tbody
  -for (item <- items)
    tr
      td #{item.id}
      td #{item.firstName}
      td #{item.middleName}
      td #{item.lastName}
      td #{item.gender}
      td #{item.startedEmployment}
      td #{item.leftEmployment}
      td #{item.otherDetail}
      td
        a(href={s.url(Controllers.employees.showUrl, "id" -> item.id)} class="btn btn-default") #{s.i18n.get("detail")}
        a(href={s.url(Controllers.employees.editUrl, "id" -> item.id)} class="btn btn-info") #{s.i18n.get("edit")}
        a(data-method="delete" data-confirm={s.i18n.get("employee.delete.confirm")} href={s.url(Controllers.employees.destroyUrl, "id" -> item.id)} rel="nofollow" class="btn btn-danger") #{s.i18n.get("delete")}

a(href={s.url(Controllers.employees.newUrl)} class="btn btn-primary") #{s.i18n.get("new")}
